[Unit]
Description=PXESrv boot service

[Service]
Environment="PXESRV_ROOT=/srv/pxesrv"
ExecStart=/usr/sbin/pxesrv
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pxesrv
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
